<ion-view title="City Build">
    <ion-content overflow-scroll="true" padding="true" class="has-header" >
    	<div class="text-header-container">
    		<h4 class="text-center">Mau Bangun Apa?</h4>
    	</div>
    	<div class="button-container">
			<a href="#/menu/citybuilder/0" class="button button-icon icon">
				<img class="citybuild-category-btn" src="img/btn_rumah.png" alt="">
			</a>
		</div>
		<div class="button-container">
			<a href="#/menu/citybuilder/1" class="button button-icon icon">
				<img class="citybuild-category-btn" src="img/btn_hotel.png" alt="">
			</a>
			
		</div>
		<div class="button-container">
			<a href="#/menu/citybuilder/2" class="button button-icon icon">
				<img class="citybuild-category-btn" src="img/btn_minimarket.png" alt="">
			</a>
		</div>
        
    </ion-content>
</ion-view>
