<ion-view title="City Build">
    <ion-content scroll="true" overflow-scroll="true" class="has-header">
        <div id="map"></div>
        <ion-tabs class="tabs-icon-top">
          <ion-tab title="Rumah" icon-on="rumah" icon-off="rumah" href="#/citybuild/rumah">
            <ion-nav-view name="citybuild-rumah"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Minimarket"  icon-on="minimarket" icon-off="minimarket" href="#/citybuild/minimarket">
            <ion-nav-view name="citybuild-minimarket"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Hotel"  icon-on="hotel" icon-off="hotel" href="#/citybuild/hotel">
            <ion-nav-view name="citybuild-hotel"></ion-nav-view>  
          </ion-tab>

        </ion-tabs>

    </ion-content>
</ion-view>
