<ion-view title="Bangun Rumah">
    <ion-nav-buttons side="right">
      <button ng-click="locate();" class="button button-icon icon ion-android-locate"></button>
    </ion-nav-buttons>

    <ion-content overflow-scroll="true" padding="true" class="has-header" data-tap-disabled="true">
      <leaflet defaults="map.defaults" center="map.center" markers="map.markers" layers="map.layers" geojson="map.geojson" geojson-nested="true" width="100%" height="90%"></leaflet>

      <div>
        <form class="list list-cw filterForm" hidden>
          <label name="Perdagangan_Jasa_Linier" class="item item-checkbox item-cw"><div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
            <input value="on" name="Perdagangan_Jasa_Linier" type="checkbox" checked="true" ng-model='show.Perdagangan_Jasa_Linier' ng-change="filterChange('Perdagangan_Jasa_Linier','rgba(255,61,0,72)', show.Perdagangan_Jasa_Linier)"><i class="checkbox-icon"></i></div>
            <div class="item-content disable-pointer-events">
            <span>Perdagangan Jasa Linier</span></div>
          </label>
          <label name="Pertahanan_Keamanan" class="item item-checkbox item-cw"><div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
            <input value="on" name="Pertahanan_Keamanan" type="checkbox" checked="true" ng-model='show.Pertahanan_Keamanan' ng-change="filterChange('Pertahanan_Keamanan','rgba(129,95,51,10)', show.Pertahanan_Keamanan)"><i class="checkbox-icon"></i></div>
            <div class="item-content disable-pointer-events">
            <span>Pertahanan Keamanan</span></div>
          </label>
          <label name="Perumahan_Kepadatan_Rendah" class="item item-checkbox item-cw"><div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
            <input value="on" name="Perumahan_Kepadatan_Rendah" type="checkbox" checked="true" ng-model='show.Perumahan_Kepadatan_Rendah' ng-change="filterChange('Perumahan_Kepadatan_Rendah','rgba(55,148,179,1)', show.Perumahan_Kepadatan_Rendah)"><i class="checkbox-icon"></i></div>
            <div class="item-content disable-pointer-events">
            <span>Perumahan Kepadatan Rendah</span></div>
          </label>
          <label name="Perumahan_Kepadatan_Sedang" class="item item-checkbox item-cw"><div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
            <input value="on" name="Perumahan_Kepadatan_Sedang" type="checkbox" checked="true" ng-model='show.Perumahan_Kepadatan_Sedang' ng-change="filterChange('Perumahan_Kepadatan_Sedang','rgba(255,171,64,25)', show.Perumahan_Kepadatan_Sedang)"><i class="checkbox-icon"></i></div>
            <div class="item-content disable-pointer-events">
            <span>Perumahan Kepadatan Sedang</span></div>
          </label>
          <label name="Perumahan_Kepadatan_Tinggi" class="item item-checkbox item-cw"><div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
            <input value="on" name="Perumahan_Kepadatan_Tinggi" type="checkbox" checked="true" ng-model='show.Perumahan_Kepadatan_Tinggi' ng-change="filterChange('Perumahan_Kepadatan_Tinggi','rgba(255,193,7,14)', show.Perumahan_Kepadatan_Tinggi)"><i class="checkbox-icon"></i></div>
            <div class="item-content disable-pointer-events">
            <span>Perumahan Kepadatan Tinggi</span></div>
          </label>
        </form>

        <button class="citybuild-filter-btn button button-positive button-block icon-center ion-social-buffer" type="button" ng-click="toogle()"> Filter Zona</button>
      </div>
        
    </ion-content>
</ion-view>
