<ion-view title="Bangun Hotel">
    <ion-nav-buttons side="right">
      <button ng-click="locate();" class="button button-icon icon ion-android-locate"></button>
    </ion-nav-buttons>

    <ion-content overflow-scroll="true" padding="true" class="has-header" data-tap-disabled="true">
      <leaflet defaults="map.defaults" center="map.center" markers="map.markers" layers="map.layers" geojson="map.geojson" geojson-nested="true" width="100%" height="90%"></leaflet>

      <div>
        <form class="list list-cw filterForm" hidden>
          <label name="Campuran_Intensitas_Tinggi" class="item item-checkbox item-cw"><div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
            <input value="on" name="Campuran_Intensitas_Tinggi" type="checkbox" checked="true" ng-model='show.Campuran_Intensitas_Tinggi' ng-change="filterChange('Campuran_Intensitas_Tinggi','rgba(255,139,253,56)', show.Campuran_Intensitas_Tinggi)"><i class="checkbox-icon"></i></div>
            <div class="item-content disable-pointer-events">
            <span>Campuran Intensitas Tinggi</span></div>
          </label>
          <label name="Pendidikan" class="item item-checkbox item-cw"><div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
            <input value="on" name="Pendidikan" type="checkbox" checked="true" ng-model='show.Pendidikan' ng-change="filterChange('Pendidikan','rgba(245,124,0,44)', show.Pendidikan)"><i class="checkbox-icon"></i></div>
            <div class="item-content disable-pointer-events">
            <span>Pendidikan</span></div>
          </label>
          <label name="Perdagangan_Jasa_Linier" class="item item-checkbox item-cw"><div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
            <input value="on" name="Perdagangan_Jasa_Linier" type="checkbox" checked="true" ng-model='show.Perdagangan_Jasa_Linier' ng-change="filterChange('Perdagangan_Jasa_Linier','rgba(255,61,0,72)', show.Perdagangan_Jasa_Linier)"><i class="checkbox-icon"></i></div>
            <div class="item-content disable-pointer-events">
            <span>Perdagangan Jasa Linear</span></div>
          </label>
          <label name="Pertahanan_Keamanan" class="item item-checkbox item-cw"><div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
            <input value="on" name="Pertahanan_Keamanan" type="checkbox" checked="true" ng-model='show.Pertahanan_Keamanan' ng-change="filterChange('Pertahanan_Keamanan','rgba(255,195,0,13)', show.Pertahanan_Keamanan)"><i class="checkbox-icon"></i></div>
            <div class="item-content disable-pointer-events">
            <span>Pertahanan Keamanan</span></div>
          </label>
          <label name="Pusat_Perdagangan_Jasa" class="item item-checkbox item-cw"><div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
            <input value="on" name="Pusat_Perdagangan_Jasa" type="checkbox" checked="true" ng-model='show.Pusat_Perdagangan_Jasa' ng-change="filterChange('Pusat_Perdagangan_Jasa','rgba(249,0,0,79)', show.Pusat_Perdagangan_Jasa)"><i class="checkbox-icon"></i></div>
            <div class="item-content disable-pointer-events">
            <span>Pusat Perdagangan Jasa</span></div>
          </label>
          <label name="Wisata_Buatan" class="item item-checkbox item-cw"><div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
            <input value="on" name="Wisata_Buatan" type="checkbox" checked="true" ng-model='show.Wisata_Buatan' ng-change="filterChange('Wisata_Buatan','rgba(197,0,255,84)', show.Wisata_Buatan)"><i class="checkbox-icon"></i></div>
            <div class="item-content disable-pointer-events">
            <span>Wisata_Buatan</span></div>
          </label>
        </form>

        <button class="citybuild-filter-btn button button-positive button-block icon-center ion-social-buffer" type="button" ng-click="toogle()"> Filter Zona</button>
      </div>
        
    </ion-content>
</ion-view>
