<ion-view title="City Watch" id="page3">
    <ion-nav-buttons side="right">
      <button ng-click="locate();" class="button button-icon icon ion-android-locate"></button>
    </ion-nav-buttons>

    <ion-content overflow-scroll="true" padding="true" class="has-header" data-tap-disabled="true">
      <!-- <iframe id="myFrame" class="iframe_wrap" width="100%" height="auto" style="min-height: 450px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ng-src="{{urlZonaAll}}"></iframe> -->

      <!-- <leaflet defaults="map.defaults" center="map.center" markers="map.markers" tiles="map.tiles" geojson="geojson" width="100%" height="90%"></leaflet> -->
      <leaflet defaults="map.defaults" center="map.center" markers="map.markers" layers="map.layers" geojson="map.geojson" width="100%" height="90%"></leaflet>
      <!-- <leaflet defaults="map.defaults" center="map.center" markers="map.markers" geojson="geojson" width="100%" height="90%"></leaflet> -->

      <div>
        <form class="list list-cw" id="filterForm" hidden>
          <label name="PemukimanTinggi" class="item item-checkbox item-cw"><div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle"><input value="on" name="PemukimanTinggi" type="checkbox" checked="true"><i class="checkbox-icon"></i></div><div class="item-content disable-pointer-events" ng-transclude=""><span>Pemukiman Tinggi</span></div></label>
          <label name="Perdagangan" class="item item-checkbox item-cw"><div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle"><input name="Perdagangan" type="checkbox" checked="true"><i class="checkbox-icon"></i></div><div class="item-content disable-pointer-events" ng-transclude=""><span>Perdagangan dan Jasa</span></div></label>
          <label name="Jasa" class="item item-checkbox item-cw"><div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle"><input name="Jasa" type="checkbox" checked="true"><i class="checkbox-icon"></i></div><div class="item-content disable-pointer-events" ng-transclude=""><span>Perkantoran</span></div></label>
          <label name="Jasa" class="item item-checkbox item-cw"><div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle"><input name="Jasa" type="checkbox" checked="true"><i class="checkbox-icon"></i></div><div class="item-content disable-pointer-events" ng-transclude=""><span>Sarana Pelayanan Umum</span></div></label>
          <label name="Jasa" class="item item-checkbox item-cw"><div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle"><input name="Jasa" type="checkbox" checked="true"><i class="checkbox-icon"></i></div><div class="item-content disable-pointer-events" ng-transclude=""><span>Pertahanan dan Keamanan</span></div></label>
          <label name="Jasa" class="item item-checkbox item-cw"><div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle"><input name="Jasa" type="checkbox" checked="true"><i class="checkbox-icon"></i></div><div class="item-content disable-pointer-events" ng-transclude=""><span>Lindung Alami</span></div></label>
        </form>
        <!-- <a href="#/menu/zone-detail2/I" id="login-button9" class="button button-positive  button-block button-clear">Detail Zona</a> -->
        <button id="cityWatch-button7" class="button button-positive button-block icon-center ion-social-buffer" type="button" ng-click="toogle()"> Filter Zona</button>
      </div>
        
    </ion-content>
</ion-view>
