<ion-view title="City Build" id="page2">
    <ion-content scroll="true" overflow-scroll="true" class="has-header">
        <ion-tabs class="tabs-icon-top">
          <ion-tab title="Rumah" icon-on="rumah" icon-off="rumah">
              <div padding="true">
                <div>
                      <iframe width="100%" height="auto" style="min-height: 450px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://cityplanner-web.herokuapp.com/examples/show/mapbox-gljs-rumah"></iframe>

                      <!-- <leaflet id="map{{trailId}}" defaults="defaults" center="center" height="100vh" markers="markers"></leaflet> -->
                  </div>

                  <a ui-sref="menu.detailZona" id="login-button9" class="button button-positive  button-block button-clear">Detail Zona</a>
              </div>
          </ion-tab>

          <ion-tab title="Minimarket" icon="minimarket">
              <div>
                  <iframe width="100%" height="auto" style="min-height: 450px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://cityplanner-web.herokuapp.com/examples/show/mapbox-gljs-minimarket"></iframe>

                  <!-- <leaflet id="map{{trailId}}" defaults="defaults" center="center" height="100vh" markers="markers"></leaflet> -->
              </div>

              <a ui-sref="menu.detailZona" id="login-button9" class="button button-positive  button-block button-clear">Detail Zona</a>
          </ion-tab>

          <ion-tab title="Hotel" icon="hotel">
              <div>
                  <iframe width="100%" height="auto" style="min-height: 450px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://cityplanner-web.herokuapp.com/examples/show/mapbox-gljs-hotel"></iframe>

                  <!-- <leaflet id="map{{trailId}}" defaults="defaults" center="center" height="100vh" markers="markers"></leaflet> -->
                  <a ui-sref="menu.detailZona" id="login-button9" class="button button-positive  button-block button-clear">Detail Zona</a>
              </div>
              
          </ion-tab>

        </ion-tabs>

    </ion-content>
</ion-view>
