<ion-view title="Detail Zona" id="page6">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3 id="detailZona-heading2" style="color:#000000;">Nama Zona | Wilayah</h3>
        <div class="list card">
            <div class="item item-divider">Deskripsi</div>
            <div class="item item-body">
                <div id="detailZona-markdown1" style="color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Aturan Umum</div>
            <div class="item item-body">
                <div id="detailZona-markdown3" style="color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Aturan Khusus</div>
            <div class="item item-body">
                <div id="detailZona-markdown5" style="color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>