<ion-view title="Detail Zona" id="page6">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Overview</div>
            <div class="item item-body">
                <div style="color:#000000;">
                    <label class="control-label">
                        <strong>Kode</strong>
                    </label>
                    <div class="controls">
                        <span>K3</span>
                    </div>
                </div>
                <div style="color:#000000;">
                    <label class="control-label">
                        <strong>Zona</strong>
                    </label>
                    <div class="controls">
                        <span>Perdagangan dan Jasa</span>
                    </div>
                </div>
                <div style="color:#000000;">
                    <label class="control-label">
                        <strong>Sub Zona</strong>
                    </label>
                    <div class="controls">
                        <span>Perdagangan dan Jasa Linier</span>
                    </div>
                </div>
                <div style="color:#000000;">
                    <label class="control-label">
                        <strong>Kode Peraturan</strong>
                    </label>
                    <div class="controls">
                        <span>Diizinkan (I)</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- TODO: check condition -->
        <div class="list card">
            <div class="item item-divider">Jenis Kegiatan</div>
            <div class="item item-body">
                <ul>
                    <li>Rumah</li>
                    <li>Minimarket</li>
                    <li>Hotel</li>
                    <li>Restoran</li>
                </ul>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Aturan</div>
            <div class="item item-body">
                <div style="color:#000000;">
                    <label class="control-label">
                        <strong>Koefisien Dasar Bangunan (KDB)</strong>
                    </label>
                    <div class="controls">
                        <span>70%</span>
                    </div>
                </div>
                <div style="color:#000000;">
                    <label class="control-label">
                        <strong>Koefisien Luas Bangunan (KLB)</strong>
                    </label>
                    <div class="controls">
                        <span>2.1</span>
                    </div>
                </div>
                <div style="color:#000000;">
                    <label class="control-label">
                        <strong>Koefisien Dasar Hijau (KDH)</strong>
                    </label>
                    <div class="controls">
                        <span>Perdagangan dan Jasa Linier</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Tata Bangunan</div>
            <div class="item item-body">
                <div id="detailZona-markdown5" style="color:#000000;">
                    <p>
                        Pusat Belanja, hotel dan Perkantoran
                    </p>
                    <p>
                        GSB Minimum = 1/2 x lebar rumija
                    </p>
                    <p>
                        (a) Pusat Belanja, hotel dan Perkantoran <br>
                        GSB Minimum = 1/2 x lebar rumija <br>
                        - Jalan Arteri: minimum 15 meter, yang dipergunakan sebagai RTNH (plaza) <br>
                        - Luas lantai maksimum 80.000 m2 <br>
                        - Jalan Kolektor minimum 10 meter, yang dipergunakan sebagai RTNH (plaza) atau parkir
                    </p> 
                </div>
            </div>
        </div>
        <a ui-sref="menu.formLaporanPelanggaran" id="login-button9" class="button button-positive  button-block button-clear">Lapor Pelanggaran !</a>
    </ion-content>
</ion-view>