<ion-view title="Detail Zona" id="page6" side="right">
    <ion-content overflow-scroll="true">
        <div class="item item-divider">Overview</div>
        <div class="row">
          <div class="col col-33"><strong>Kode</strong></div>
          <div class="col col-67"><span class="badge badge-assertive">{{detail.Kode}}</span></div>
        </div>
        <div class="row">
          <div class="col col-33"><strong>Zona</strong></div>
          <div class="col col-67">{{detail.Zona}}</div>
        </div>
        <div class="row">
          <div class="col col-33"><strong>Sub Zona</strong></div>
          <div class="col col-67">{{detail.Subzona}}</div>
        </div>
        <div class="row">
          <div class="col col-33"><strong>Kode Peraturan</strong></div>
          <div class="col col-67">{{detail.KeteranganSyarat}} ({{detail.Syarat}})</div>
        </div>

        <div class="item item-divider">Aturan</div>
        <div class="row">
          <div class="col col-75"><strong>Koefisien Dasar Bangunan (KDB)</strong></div>
          <div class="col col-25">{{detail.KDB}}</div>
        </div>
        <div class="row">
          <div class="col col-75"><strong>Koefisien Luas Bangunan (KLB)</strong></div>
          <div class="col col-25">{{detail.KLB}}</div>
        </div>
        <div class="row">
          <div class="col col-75"><strong>Koefisien Dasar Hijau (KDH)</strong></div>
          <div class="col col-25">{{detail.KDH}}</div>
        </div>

        <div class="item item-divider">Tata Bangunan</div>
        <div class="row">
            <div class="col">
            <p collection-repeat="tatabangunan in tatabangunans">
                {{tatabangunan}}
            </p>
            </div>
        </div>

    </ion-content>
</ion-view>