<ion-view title="Form Laporan Pelanggaran" id="page7">
    <ion-content overflow-scroll="true" class="has-header">

        <div class="item item-divider">Overview</div>
        <div class="row">
          <div class="col col-33"><strong>Kode</strong></div>
          <div class="col col-67"><span class="badge badge-assertive">K3</span></div>
        </div>
        <div class="row">
          <div class="col col-33"><strong>Zona</strong></div>
          <div class="col col-67">Perdagangan dan Jasa</div>
        </div>
        <div class="row">
          <div class="col col-33"><strong>Jenis Kegiatan</strong></div>
          <div class="col col-67">Hotel</div>
        </div>
        <!-- <div class="row">
            <div class="col col-67 col-offset-33">
                <i class="icon ion-information-circled"></i>
                <a ui-sref="menu.detailZona2" id="login-button9" class="badge badge-calm">Detail Zona & Peraturan</a>
            </div>
        </div> -->

        <div class="item item-divider">Detail Laporan</div>
        <div class="row">
          <div class="col col-75"><strong>Koefisien Dasar Bangunan (KDB)</strong></div>
          <div class="col col-20">70%</div>
          <div class="col col-5"><i class="icon ion-checkmark-round"></i></div>
        </div>
        <div class="row">
          <div class="col col-75"><strong>Koefisien Luas Bangunan (KLB)</strong></div>
          <div class="col col-20">2.1</div>
          <div class="col col-5"><i class="icon ion-checkmark-round"></i></div>
        </div>
        <div class="row">
          <div class="col col-75"><strong>Koefisien Dasar Hijau (KDH)</strong></div>
          <div class="col col-20">20%</div>
          <div class="col col-5"><i class="icon ion-close-round"></i></div>
        </div>
        <div id="moreDetail" class="showmore" hidden>
        <div class="row">
          <div class="col col-75"><strong>Koefisien Dasar Bangunan (KDB)</strong></div>
          <div class="col col-20">70%</div>
          <div class="col col-5"><i class="icon ion-checkmark-round"></i></div>
        </div>
        <div class="row">
          <div class="col col-75"><strong>Koefisien Luas Bangunan (KLB)</strong></div>
          <div class="col col-20">2.1</div>
          <div class="col col-5"><i class="icon ion-help"></i></div>
        </div>
        <div class="row">
          <div class="col col-75"><strong>Koefisien Dasar Hijau (KDH)</strong></div>
          <div class="col col-20">20%</div>
          <div class="col col-5"><i class="icon ion-close-round"></i></div>
        </div>
        </div>
        <div class="row">
            <div class="col col-offset-33">
                <button class="button button-small button-stable" ng-click="toogleMore()"><span class="showless">More</span><span class="showmore" hidden>Less</span> <i class="icon ion-more"></i></button>
            </div>
        </div>


        <div class="item item-divider">Informasi Tambahan</div>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Detail Pelanggaran</span>
                <!-- <input type="text" placeholder="Detail Pelanggaran"> -->
                <textarea placeholder="Detail Pelanggaran"></textarea>
            </label>

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                  <input type="text" placeholder="Tambah Foto">
                </label>
                <button class="button button-small button-dark">
                  Upload
                </button>
            </div>
            
            <div class="padding">
                <button id="formLaporanPelanggaran-button11" class="button button-positive  button-block">Kirim Laporan</button>
            </div>

            
        </div>
        
        <!-- <a ui-sref="menu.formLaporanPelanggaran2" id="formLaporanPelanggaran-button11" class="button button-positive  button-block">Lanjut</a> -->
    </ion-content>
</ion-view>