<ion-view title="Form Laporan Pelanggaran" id="page8">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <!-- <h3 id="formLaporanPelanggaran-heading5" style="color:#000000;">Nama Zona | Wilayah | Jenis Kegiatan</h3> -->
        <div class="list card">
            <div class="item item-divider">Aturan</div>
            <div class="item item-body">
                <div style="color:#000000;">
                    <label class="control-label">
                        <strong>Koefisien Dasar Bangunan (KDB)</strong>
                    </label>
                    <div class="controls">
                        <span>70%</span>
                    </div>
                </div>
                <div style="color:#000000;">
                    <label class="control-label">
                        <strong>Koefisien Luas Bangunan (KLB)</strong>
                    </label>
                    <div class="controls">
                        <span>2.1</span>
                    </div>
                </div>
                <div style="color:#000000;">
                    <label class="control-label">
                        <strong>Koefisien Dasar Hijau (KDH)</strong>
                    </label>
                    <div class="controls">
                        <span>Perdagangan dan Jasa Linier</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Tata Bangunan</div>
            <div class="item item-body">
                <div id="detailZona-markdown5" style="color:#000000;">
                    <p>
                        Pusat Belanja, hotel dan Perkantoran
                    </p>
                    <p>
                        GSB Minimum = 1/2 x lebar rumija
                    </p>
                    <p>
                        (a) Pusat Belanja, hotel dan Perkantoran <br>
                        GSB Minimum = 1/2 x lebar rumija <br>
                        - Jalan Arteri: minimum 15 meter, yang dipergunakan sebagai RTNH (plaza) <br>
                        - Luas lantai maksimum 80.000 m2 <br>
                        - Jalan Kolektor minimum 10 meter, yang dipergunakan sebagai RTNH (plaza) atau parkir
                    </p> 
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Lapor Pelanggaran</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input" name="DetailPelanggaran">
                        <span class="input-label">Detail Pelanggaran</span><textarea placeholder="Detail Pelanggaran"> </textarea>
                    </label>
                    <form class="list"></form>
                    <label class="item item-input" name="UploadFoto">
                        <span class="input-label">Upload Foto</span>
                        <input type="text" placeholder="">
                    </label>
                </form>
            </div>
        </div>
        <button id="formLaporanPelanggaran-button11" class="button button-positive  button-block">Kirim Laporan</button>
    </ion-content>
</ion-view>