<ion-view title="Form Laporan Pelanggaran" id="page7">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3 id="formLaporanPelanggaran-heading5" style="color:#000000;">Nama Zona | Wilayah</h3>
        <div class="list card">
            <div class="item item-divider">Deskripsi</div>
            <div class="item item-body">
                <div id="formLaporanPelanggaran-markdown6" style="color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Lapor Pelanggaran</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-select" name="JenisPelanggaran">
                        <span class="input-label">Jenis Kegiatan</span>
                        <select>
                            <option>Jenis 1</option>
                            <option>Jenis 2</option>
                            <option>Jenis 3</option>
                        </select>
                    </label>
                </form>
            </div>
        </div>
        <a ui-sref="formLaporanPelanggaran2" id="formLaporanPelanggaran-button11" class="button button-positive  button-block">Lanjut</a>
    </ion-content>
</ion-view>