<ion-view title="Form Laporan Pelanggaran" id="page8">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3 id="formLaporanPelanggaran-heading5" style="color:#000000;">Nama Zona | Wilayah | Jenis Kegiatan</h3>
        <div class="list card">
            <div class="item item-divider">Detail Aturan</div>
            <div class="item item-body">
                <div id="formLaporanPelanggaran-markdown6" style="color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Lapor Pelanggaran</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input" name="DetailPelanggaran">
                        <span class="input-label">Detail Pelanggaran</span><textarea placeholder="Detail Pelanggaran"> </textarea>
                    </label>
                    <form class="list"></form>
                    <label class="item item-input" name="UploadFoto">
                        <span class="input-label">Upload Foto</span>
                        <input type="text" placeholder="">
                    </label>
                </form>
            </div>
        </div>
        <button id="formLaporanPelanggaran-button11" class="button button-positive  button-block">Kirim Laporan</button>
    </ion-content>
</ion-view>