  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title"><i class="icon ion-android-warning"></i> Lapor Pelanggaran</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">Batal</button>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="has-header">
        <div class="item item-divider">Overview</div>
        <div class="row">
          <div class="col col-33"><strong>Kode</strong></div>
          <div class="col col-67"><span class="badge badge-assertive">{{detail.Kode}}</span></div>
        </div>
        <div class="row">
          <div class="col col-33"><strong>Zona</strong></div>
          <div class="col col-67">{{detail.Zona}}</div>
        </div>
        <div class="row">
          <div class="col col-33"><strong>Sub Zona</strong></div>
          <div class="col col-67">{{detail.Subzona}}</div>
        </div>
        <div class="row">
          <div class="col col-33"><strong>Jenis Kegiatan</strong></div>
          <div class="col col-67">{{jenisKegiatan | capitalize}}</div>
        </div>

        <div class="item item-divider">Kesesuaian Aturan</div>
        <div class="row">
          <div class="col col-33"><strong>Status</strong></div>
          <div class="col col-67">{{detailKegiatan.Syarat}}</div>
        </div>
        <div class="row">
          <div class="col col-33-fix"><strong>Keterangan Status</strong></div>
          <div class="col col-62">{{detailKegiatan.KeteranganSyarat}}</div>
          <div class="col col-5">
            <!-- <i class="icon ion-checkmark-round" ng-hide="ketStatusCheck != '1'"></i>
            <i class="icon ion-close-round" ng-hide="ketStatusCheck != '0'"></i> -->
            <i class="icon ion-checkmark-round" ng-hide="!ketStatusCheck"></i>
            <i class="icon ion-close-round" ng-hide="ketStatusCheck"></i>
          </div>
        </div>
        <div class="row">
          <div class="col col-75"><strong>Koefisien Dasar Bangunan (KDB)</strong></div>
          <div class="col col-20">{{detailKegiatan.KDB}}</div>
          <div class="col col-5">
          	<!-- <i class="icon ion-checkmark-round" ng-hide="kdbCheck != '1'"></i>
          	<i class="icon ion-close-round" ng-hide="kdbCheck != '0'"></i> -->
            <i class="icon ion-checkmark-round" ng-hide="!kdbCheck"></i>
            <i class="icon ion-close-round" ng-hide="kdbCheck"></i>
          </div>
        </div>
        <div class="row">
          <div class="col col-75"><strong>Koefisien Luas Bangunan (KLB)</strong></div>
          <div class="col col-20">{{detailKegiatan.KLB}}</div>
          <div class="col col-5">
          	<!-- <i class="icon ion-checkmark-round" ng-hide="klbCheck != '1'"></i>
          	<i class="icon ion-close-round" ng-hide="klbCheck != '0'"></i> -->
            <i class="icon ion-checkmark-round" ng-hide="!klbCheck"></i>
            <i class="icon ion-close-round" ng-hide="klbCheck"></i>
          </div>
        </div>
        <div class="row">
          <div class="col col-75"><strong>Koefisien Dasar Hijau (KDH)</strong></div>
          <div class="col col-20">{{detailKegiatan.KDH}}</div>
          <div class="col col-5">
          	<!-- <i class="icon ion-checkmark-round" ng-hide="kdhCheck != '1'"></i>
          	<i class="icon ion-close-round" ng-hide="kdhCheck != '0'"></i> -->
            <i class="icon ion-checkmark-round" ng-hide="!kdhCheck"></i>
            <i class="icon ion-close-round" ng-hide="kdhCheck"></i>
          </div>
        </div>
        <div class="row">
          <div class="col col-75"><strong>Tata Bangunan</strong></div>
          <div class="col col-20">&nbsp;</div>
          <div class="col col-5">
            <!-- <i class="icon ion-checkmark-round" ng-hide="tataBangunanHeadCheck != '1'"></i>
            <i class="icon ion-close-round" ng-hide="tataBangunanHeadCheck != '0'"></i> -->
            <i class="icon ion-checkmark-round" ng-hide="!tataBangunanHeadCheck"></i>
            <i class="icon ion-close-round" ng-hide="tataBangunanHeadCheck"></i>
          </div>
        </div>
        <div id="moreDetail" class="showmore_modal" hidden>
          <div class="row aturan" ng-repeat="tatabangunan in tatabangunans">
              <div class="col">
              <!-- <p > -->
                {{tatabangunan}}
              <!-- </p> -->
              </div>
              <!-- <div class="col col-5">
                <i class="icon ion-checkmark-round" ng-hide="tataBangunanCheck[tatabangunan] != '1'"></i>
                <i class="icon ion-close-round" ng-hide="tataBangunanCheck[tatabangunan] != '0'"></i>
              </div> -->
          </div>
        </div>
        <div class="row">
            <div class="col col-offset-33">
                <button class="button button-small button-stable" ng-click="toogleMoreModal()"><span class="showless_modal">More</span><span class="showmore_modal" hidden>Less</span> <i class="icon ion-more"></i></button>
            </div>
        </div>


        <div class="item item-divider">Informasi Tambahan</div>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Detail Pelanggaran</span>
                <!-- <input type="text" placeholder="Detail Pelanggaran"> -->
                <textarea placeholder="Detail Pelanggaran"></textarea>
            </label>

            <div class="item item-input-inset">
                <label class="item-input-wrapper fileUpload">
                  <input type="text" placeholder="Tambah Foto" class="pointer" style="cursor:pointer;" disabled>
                  <input type="file" class="upload" placeholder="Tambah Foto">
                </label>
                <!-- <button class="button button-small button-dark">
                  Upload
                </button> -->
                <a class="button button-icon icon ion-camera"></a>
            </div>
            
            <div class="padding">
                <button id="formLaporanPelanggaran-button11" class="button button-positive button-block" ng-click="showAlert()">Kirim Laporan</button>
            </div>

        </div>
    </ion-content>
  </ion-modal-view>

