<ion-view title="" id="page1" class="home" hide-nav-bar="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
    	<div class="home-button">
    		<div class="logo-container">
	    		<img class="home-logo-btn" src="img/logo_text.png" alt="">
	    	</div>
	    	<div>
	    		<a id="build-button" ui-sref="menu.cityBuilderPre" class="button button-icon icon">
	    			<img class="home-menu-btn" src="img/city_build.png" alt="">
	    		</a>
	    		<a id="watch-button" ui-sref="menu.cityWatch" class="button button-icon icon">
	    			<img class="home-menu-btn" src="img/city_watch.png" alt="">
	    		</a>
	    	</div>
	    </div>
    </ion-content>
</ion-view>
