<ion-view title="" id="page1" class="home" hide-nav-bar="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
    	<div class="home-button">
    		<a ui-sref="menu.cityBuilder" class="button button-icon icon city-build-btn"></a>
    		<a ui-sref="menu.cityWatch" class="button button-icon icon city-watch-btn"></a>
    		<!-- <a class="button button-icon icon ion-settings"></a> -->
	        <!-- <a ui-sref="menu.cityBuilder" id="home-button2" class="button button-positive  button-block">City Build</a>
	        <a ui-sref="menu.cityWatch" id="home-button1" class="button button-positive  button-block">City Watch</a> -->
	    </div>
    </ion-content>
</ion-view>