<ion-view title="" id="page1" class="home" hide-nav-bar="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
    	<div class="home-button">
    		<a id="build-button" ui-sref="menu.cityBuilder" class="button button-icon icon"><img class="city-build-btn" src="img/city_build.png" alt=""></a>
    		<a id="watch-button" ui-sref="menu.cityWatch" class="button button-icon icon"><img class="city-watch-btn" src="img/city_watch.png" alt=""></a>
	    </div>
    </ion-content>
</ion-view>
