<ion-view title="Map">

  <ion-nav-buttons side="right">
    <button ng-click="locate();" class="button button-icon icon ion-pinpoint"></button>
  </ion-nav-buttons>

  <ion-content padding="true" data-tap-disabled="true" class="has-header">

    <leaflet center="taipei" layers="layers" defaults="defaults"></leaflet>
    <!-- <leaflet lf-center="center" tiles="tiles" geojson="geojson" width="100%" height="480px"></leaflet>
    <pre ng-bind="layers | json"></pre> -->

  </ion-content>

</ion-view>
