<ion-view title="Login" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="login-button8" class="button button-stable button-positive button-block">Log in</button>
            <a ui-sref="menu.signup" id="login-button9" class="button button-positive  button-block button-clear">Or create an account</a>
        </form>
    </ion-content>
</ion-view>