<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar align-title="center" class="bar-positive">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <ion-item menu-close ui-sref="menu.profile" class="item-menu-avatar text-center">
                  <img ng-src="img/person-flat.png" class="avatar-menu">
                </ion-item>
                <ion-item menu-close class="menu-positive text-center positive" ui-sref="menu.profile" >
                 <b>Iqbal Fajar</b> <i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star-half"></i>
                </ion-item>

                <!-- <ion-item ui-sref="menu.login" menu-close="">Login</ion-item> -->
                <ion-item ui-sref="menu.cityBuilder" menu-close="">City Build</ion-item>
                <ion-item ui-sref="menu.cityWatch" menu-close="">City Watch</ion-item>
            </ion-list>
        </ion-content>

        <!-- <ion-footer-bar class="bar-positive">
             <button class="button button-clear white-color center" ng-click="logout()" menu-close><i class="icon ion-log-out"></i> Logout</button>
        </ion-footer-bar> -->
    </ion-side-menu>
</ion-side-menus>