/*Home*/
.home-splash {
    background: url(../img/splash.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.home {
  background: url(../img/menu.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.home-button {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align:center;
}

.city-build-btn {
    max-width: 100px;
    max-height: 100px;
}
.city-watch-btn {
    max-width: 100px;
    max-height: 100px;
}

/*City Build*/
.tabs .tab-item .icon.rumah {
  content: url('../img/rumah.png');
}
.tabs .tab-item .icon.minimarket {
  content: url('../img/minimarket.png');
}
.tabs .tab-item .icon.hotel {
  content: url('../img/hotel.png');
}
.tabs .tab-item .icon.restoran {
  content: url('../img/restoran.png');
}
